################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS6920-Project-2/v16/.suo
/.vs
/FinancialQuiz/.vs/FinancialQuiz/v16/.suo
/FinancialQuiz/FinancialQuiz/obj/Debug
/FinancialQuiz/obj/Debug
/FinancialQuiz/bin/Debug
